Congratulations {{ formData.firstName }}  {{ formData.lastName }}, your data has been submitted with the folllowing details

<h1>Summary</h1>
<ul>
    <li>FirstName: {{ formData.firstName }}</li>
    <li>LastName: {{ formData.lastName }}</li>
    <li>Email: {{ formData.emailId }}</li>
    <li>From: {{ formData.from }}</li>
    <li>To: {{ formData.to }}</li>
  <li>Gender: {{ formData.gender }}</li>
  <li>Age:  {{ formData.age }}</li>
  <li>Number of Tickets: {{ formData.numberOfTickets }}</li>
</ul>

